<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg" href="/assets/favicon.svg">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <title>{{ page.title }}</title>
</head>